/*** LTR websites ***/
$direction           :ltr;
$opposite-direction   :rtl;

$start-direction     :left;
$end-direction       :right;

$transform-direction :1;

$base-font : 'Roboto', sans-serif;
$text-font : 'Playfair Display', serif;