/*** RTL websites ***/
$direction           :rtl;
$opposite-direction   :ltr;

$start-direction     :right;
$end-direction       :left;

$transform-direction :-1;

$base-font :'Rubik', sans-serif;
$text-font :'Rubik', sans-serif;